.paginationStyle {
    padding-top: 4px;
  }

  .paintings a {
    color: #42b983;
  }
  .paintingsContainer {
    font-size: 14px !important;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6em;
    background-color: white;
  }
  
  .paintings h5 {
    font-weight: 700;
    font-size: 14px !important;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.5em;
  }
  
  .individualMainContent {
    display: grid;
    grid-template-columns: 60% 38%;
    grid-gap: 2%;
  }
  
  .paintersImage {
    padding: 2.5em;
  }
  
  .paintersImage .bwg_slideshow_play_pause {
    display: none;
  }
  
  .paintersImage iframe {
    width: 80%;
  }
  
  /* .painters-image img {
      width: 65% !important;
  } */
  
  .paginationLinks_col1 a:first-of-type,
  .pagination-links_col2,
  .pagination-links_col3 a:last-child {
    display: none;
  }
  
  .paintersDescription {
    padding: 4.5em;
    border-left: 2px solid darkgray;
  }
  
  .paintersDescription ul {
    display: flex;
    flex-direction: column;
    row-gap: 0.1em;
    text-align: justify;
  }
  
  .paintersDescription .description {
    display: inline-flex;
    align-items: baseline;
    column-gap: 0.5em;
    color: Black;
  }
  
  .paintersDescription li:last-child .description {
    display: block;
  }
  
  .paintings li {
    list-style: none;
  }
  
  /* Paintings Listing Page*/
  .paintingsMainContent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    column-gap: 1em;
    row-gap: 1em;
  }
  
  .paintingsCard {
    position: relative;
    height: 268px;
  }
  
  .paintingsCard .paintingsFeaturedImage img {
    height: 235px;
    width: 100%;
    max-height: 235px;
  }
  
  .paintingsCard .paintingsPainterImg {
    position: absolute;
    width: 20%;
    top: 1em;
    right: 1em;
    border: 3px solid white;
  }
  
  .paintingsCard h2.entryTitle {
    background: lightgray;
    padding: 0.5em;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
  }
  
  .paintingsCard h2.entryTitle a {
    color: black;
  }
  
  .paintingsMainHeader {
    text-align: center;
    display: flex;
    padding: 40px;
    flex-direction: column;
  }
  
  .paintingsMainHeader p {
    font-size: 16px;
    color: darkgray;
    line-height: 2em;
  }
  
  .angleDown {
    display: none;
  }
  
  @media (max-width: 768px) {
    #bwg_container1_0 #bwg_container2_0 .bwg_image_browser_image_0 {
      max-width: 100% !important;
    }
  
    #bwg_container1_0 #bwg_container2_0 .image_browser_images_conteiner_0 {
      padding: 0 !important;
    }
  
    .paintersImage {
      max-height: 70vh;
      width: 100%;
    }
  
    .paintersImage img {
      width: 100% !important;
    }
  
    .paintersImage {
      padding: 0 !important;
    }
  
    .individual-main-content {
      grid-template-rows: auto;
      grid-template-columns: none !important;
    }
  
    .paintersImage iframe {
      width: 100%;
    }
  
    .angle-down {
      display: inline-block;
      position: relative;
      border-bottom: 1px solid darkgray;
      margin-bottom: -30px;
    }
  
    .fa.fa-angle-down {
      display: inline-block;
      background: darkgray;
      width: 60px;
      height: 60px;
      font-size: 60px;
      text-align: center;
      border-radius: 30px;
      color: white;
      margin: 0 auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      position: absolute;
    }
  
    .paintersDescription {
      border-left: 0;
    }
  }

  /* Single Child Page */

  .videoThumbnail {
    position: relative;
  }
  
  .videoThumbnail i {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
  .imageContent {
    display: grid;
    grid-template-columns: 53% 45%;
    grid-gap: 2%;
  }
  
  .imageContainer {
    font-size: 14px !important;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6em;
    background-color: white;
  }
  .imageContainer .imageSection {
    padding: 2.5em;
    width: 100%;
    float: left;
  }
  .imageContainer .imageSection .mainImage img {
    width: 100%;
  }
  .imageContainer .imageSection .slideImage {
    text-align: center;
    margin-top: 20px;
  }
  .imageContainer .imageSection .slideImage a div > img {
    width: 25%;
  }
  
  .paintersDescription {
    padding: 4.5em;
    border-left: 2px solid darkgray;
  }
  
  .paintersDescription ul {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    text-align: justify;
    padding-left: 0px;
  }
  
  .paintersDescription .description {
    display: inline-flex;
    align-items: baseline;
    column-gap: 0.5em;
    color: Black;
  }
  
  .description__h5 {
    font-weight: 700;
    font-size: 14px !important;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.5em;
  }
  
  .paintersDescription li:last-child .description {
    display: block;
  }
  .description__ul {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .description__ol,
  .description__ul {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .description__li {
    list-style: none;
  }